<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="try-on" href="/tabs/try-on">
      <ion-icon aria-hidden="true" name="camera-outline"></ion-icon>
      <ion-label>Essayer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gallery" href="/tabs/gallery">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>Galerie</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
